torch
pandas
numpy
opencv-python
scipy
matplotlib
tqdm
scikit-learn
albumentations
torchmetrics
pytorch-lightning
transformers
pathlib
iterative-stratification==0.1.9
tensorboard
segmentation_models_pytorch
timm
